[2018-06-28 20:38] armenzg opened #1 "Platform & benchmark picker component"
By default the dropdown menu should select "Windows 10 64-bit".

For now, the dropdown should be:
* Linux 64-bit (value: linux64)
* Windows 7 32-bit (value: windows7-32)
* Windows 10 64-bit (value: windows10-64)

[2018-07-25 15:16] armenzg opened #2 "Initial MVP layout"
The most basic layout to help us reach MVP.

Here's my initial Sketch draft:
<img width="579" alt="image" src="https://user-images.githubusercontent.com/44410/43210061-2eba2418-8ffc-11e8-9dc8-09bec3a54fe4.png">

[2018-07-27 19:39] armenzg commented on #2
I've got these components landed:
<img width="579" alt="image" src="https://user-images.githubusercontent.com/44410/43343134-1eb42de4-91b3-11e8-91d0-6977e197dc74.png">
When you click on the dropdown:
<img width="209" alt="image" src="https://user-images.githubusercontent.com/44410/43343118-10b2e3d4-91b3-11e8-955b-418835ca1d89.png">

[2018-07-27 19:49] armenzg commented on #1
I've landed an initial version of them.

<img width="588" alt="image" src="https://user-images.githubusercontent.com/44410/43343558-a423fbf2-91b4-11e8-99e5-f2e047ab763f.png">

[2018-07-27 19:54] #1 closed

[2018-07-31 19:47] armenzg commented on #2
I currently have this:
https://deploy-preview-4--js-perf-dashboard.netlify.com/
<img width="770" alt="image" src="https://user-images.githubusercontent.com/44410/43483198-e4790fd6-94d8-11e8-9484-754916836ed6.png">

[2018-07-31 20:03] armenzg opened #5 "Show parent benchmark"
That functionality only landed on Firefox health.

This will require a new perf-goggles release.

[2018-07-31 20:06] armenzg opened #6 "Plot Firefox and Chrome data for each benchmark"
This will require passing to MetricsGraphics multiple lines instead of a single one.

[2018-07-31 20:07] armenzg opened #7 "Add toggle to select benchmarks to display"
We can simply add/delete the lines passed to MetricsGraphics.

[2018-07-31 20:20] armenzg opened #8 "Adjust routes to handle more options"
This will allow sending a link to a specific platform/benchmark.

For now:
* /benchmark
  * frameworkId [**Optional**] - By default is 10 for Raptor jobs; otherwise, you need to specify it
  * platform [**Required**] - the Perfherder key for the platform [1]
  * benchmark [**Required**]  - the Perfherder key for the benchmark [1]
  * extraOptions [**Optional**] - in some cases we need to specify a

[2018-07-31 20:20] armenzg opened #9 "Speed up plotting of graphs"
Switching to the benchmarks with more graphs (e.g. Speedometer) to plot can be rather slow.

[2018-08-01 17:29] #2 closed

[2018-08-03 14:36] armenzg opened #12 "Sticky data points"
Make the data points be sticky when clicked,
Have the hg source link and revision/perf delta be sticky when clicked.

[2018-08-03 18:32] armenzg opened #14 "Make all graphs "lower is better""
Octane: "Geometric mean of Score", higher is better
Sunspider: "Arithmetic mean of ms", lower is better
Kraken: "Arithmetic mean of ms", lower is better
Speedometer: "Arithmetic mean of runs/min", higher is better (not sure
about individual benchmarks)

[2018-08-03 18:33] armenzg opened #15 "Fix curvy lines"

[2018-08-03 18:43] #6 closed

[2018-08-10 12:53] armenzg commented on #15
I fixed the "curvyness". We can fix further changes in new issues.

[2018-08-10 12:53] #15 closed

[2018-08-10 12:54] armenzg commented on #15
Here's the visual comparison (new on the left):
<img width="373" alt="image" src="https://user-images.githubusercontent.com/44410/43664458-fde31264-973a-11e8-8976-08cb7ab707bd.png">

[2018-08-10 19:19] armenzg opened #20 "Initial dynamic routing"
Handling _?platform=<os>&benchmark=<benchmarkName|overview>_.

[2018-08-21 13:19] armenzg opened #25 "Add JS benchmarks"
https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&revision=130bb81b5f4f9c98ba138ab5593148537dd77b57&filter-searchStr=jsshell&group_state=expanded

They will want to see the data for inbound on the **-sm** ones; and show the **v8** ones from
m-c.

<img width="745" alt="image" src="https://user-images.githubusercontent.com/44410/44464090-cf5ff180-a5e7-11e8-8ebe-33e791bd49a7.png">

[2018-08-22 12:49] armenzg commented on #25
* six-speed-sm vs six-speed-v8
* ares6-sm vs ares6-v8
* sunspider-sm vs sunspider-v8
* web-tooling-benchmark-sm vs web-tooling-benchmark-v8

[2018-08-22 17:35] armenzg opened #30 "Netlify not routing properly"
Routing works locally, however, we need to adjust Netlify to redirect to '/'.

[2018-08-22 17:40] #20 closed

[2018-08-22 17:41] armenzg opened #32 "Add unity-webgl + wasm-misc"
https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&filter-searchStr=unity-webgl
https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&filter-searchStr=wasm-misc

[2018-08-22 20:44] #30 closed

[2018-08-22 20:44] #32 closed

[2018-08-22 20:58] #25 closed

[2018-08-24 12:38] armenzg commented on #5
1.2.0 has been released and the change we need is this:
https://github.com/mozilla-frontend-infra/perf-goggles/commit/0f3f6af54125b17ff2bd36434bac81c830dc4b3d

[2018-08-24 14:09] #5 closed

[2018-08-28 08:37] bnjbvr opened #35 "Select a time range to zoom"
This was a very useful feature to spot regressions by hand on AWFY: allow to select a range by clicking and selecting, in the graph, so we can zoom into it and can see more fine-grained details of what happens over this range.

[2018-08-28 08:45] bnjbvr opened #37 "Display a spinner when information is loading"
When switching from one graph to another, I thought there was something going wrong and that an error happened, because nothing appeared on screen for seconds. It was just that the data was loading. Maybe it would be nice to display a spinner when the data is being fetched?

[2018-08-28 08:48] bnjbvr opened #38 "Show parental main score on the drilldown view"
People would probably like to see the final result of Speedometer, that is, the value named [score](https://arewefastyet.com/#machine=35&view=single&suite=speedometer-misc&subtest=score) (higher is better). Could we display it for the Speedometer benchmark?

[2018-08-28 08:53] bnjbvr opened #39 "Use better scales whenever possible to have a more fine grained view"
See for instance: http://js-perf-dashboard.netlify.com/mac/motionmark-animometer
In particular, in the Design benchmark chart, the Firefox and Chrome lines are very close to one another, but there could be a lower-than-unit scale that would better display the differences and evolution of each vendor's score over time. Does it make sense to use a smaller scale, in this case?

[2018-08-28 09:18] nbp commented on #14
To avoid confusion while reading the benchmarks, we should have a **single display convention** for the entire website such as better is either up or down on all graphs, and the units on the y axis to be reversed in function of the benchmark reports.

[2018-08-28 12:38] armenzg commented on #14
Treeherder does this. Lower is always better. I will adjust the issue.

[2018-08-28 14:39] armenzg opened #40 "Switch to react-chartjs-2 from react-metrics-graphics"
It has a lot of features that metrics-graphics does not have at the moment.
This cuts development cost to fix some of the other issues already filed. Plotting features that the original AWFY already had.

[2018-08-28 14:41] armenzg commented on #38
Is this it?
<img width="1118" alt="image" src="https://user-images.githubusercontent.com/44410/44730425-ebafd280-aaae-11e8-9df5-a3656eea4c3f.png">

It can be seen on the overview:
https://js-perf-dashboard.netlify.com/win10/overview

[2018-08-28 15:08] bnjbvr commented on #38
Yes, probably, thanks for showing it! Could we show the score in the benchmark's page too then, please?

[2018-08-28 16:01] armenzg opened #42 "90 days worth of data instead of 14 days"
@nbp I'm afraid the performance of some of the drilldowns could be slowed down.

Should we do 90 days for the 'overview' and 30 days for the drilldowns?

We might also want to add the dropdown to change the timerange as part of this.

This depends on a new release of perf-goggles:
https://github.com/mozilla-frontend-infra/perf-goggles/issues/13

[2018-08-28 16:25] armenzg commented on #38
To show the parent score as part of the drilldown view?

[2018-08-28 16:26] bnjbvr commented on #38
Yes indeed!

[2018-08-30 12:26] nbp commented on #12
Perf-herder currently provide the hg links, so as long as we have the perf-herder link this issue can be a P2 from my point of view.

[2018-08-30 12:29] armenzg opened #47 "Enhanced data when hovering over data points"
Add the hg source link and revision/perf delta.

<img width="405" alt="image" src="https://user-images.githubusercontent.com/44410/43648647-0964dba4-9709-11e8-8e56-f46174a889a1.png">

[2018-08-30 13:03] armenzg opened #48 "SunSpider being plotted incorrectly when lower_is_better is considered"
SunSpider seems to plot "lower is better" which is correct, however, the metadata for these two benchmarks is marked as "lower_is_better: false"
8:58 AM https://treeherder.mozilla.org/perf.html#/graphs?timerange=1209600&series=mozilla-central,1730689,1,10&series=mozilla-central,1730582,1,10
8:58 AM https://treeherder.mozilla.org/api/project/mozilla-central/performance/signatures/?framework=10&id=1

[2018-08-30 17:47] #40 closed

[2018-09-04 13:29] nbp opened #51 "Add labels to the Y coordinates"
In the current version we have no idea what the numbers are. Some are arbitrary scores and others are more meaning full such as: Arithmetic average of the execution time (ms) [Sunspider, Assorted DOM], Geometric average of the inverse of the execution time [Octane].

[2018-09-04 13:47] armenzg opened #52 "Remove SunSpider and Assorted DOM exceptions"
In prepareData.js we did not inverted these two benchmarks based on Perfherder data since it seems to be incorrect.
https://github.com/mozilla-frontend-infra/js-perf-dashboard/commit/d557e0f8d61a5986c84b00e692522e7f5bd1d8a1#diff-8c587180a3856b9aacf5305f1013296fR78

[2018-09-04 13:51] ionutgoldan commented on #52
I've filed a bug for this: https://bugzilla.mozilla.org/show_bug.cgi?id=1488422

[2018-09-04 14:56] #14 closed

[2018-09-04 14:58] armenzg commented on #48
Added an exception to the code and landed the feature to inverse the Y axis.

[2018-09-04 14:58] #48 closed

[2018-09-04 15:03] armenzg commented on #39
We changed the plotting tool. Does this still apply?
It now looks like this:
<img width="1243" alt="image" src="https://user-images.githubusercontent.com/44410/45039676-157a7380-b032-11e8-9e9f-903805823a0e.png">

[2018-09-04 17:27] armenzg commented on #39
This is what it looks like after "starting Y axis from 0":
<img width="967" alt="image" src="https://user-images.githubusercontent.com/44410/45047133-2e8d1f80-b046-11e8-9136-75a885540508.png">

[2018-09-05 11:48] bnjbvr commented on #39
Yeah, lgtm, thanks.

[2018-09-05 11:48] #39 closed

[2018-09-05 14:12] armenzg commented on #38
I've merged the PR. It will soon be deployed.
We now can see the top score on the drill downs.

<img width="850" alt="image" src="https://user-images.githubusercontent.com/44410/45098981-34413e80-b0f4-11e8-9152-de7d56f63744.png">

[2018-09-05 14:12] #38 closed

[2018-09-05 14:15] #8 closed

[2018-09-05 15:22] #37 closed

[2018-09-05 20:00] armenzg commented on #51
There's a deployment here:
https://deploy-preview-57--js-perf-dashboard.netlify.com/win10/overview

[2018-09-06 13:36] #51 closed

[2018-09-06 13:42] armenzg commented on #52
Thank you @ionutgoldan @jmaher !
I've removed the exception:
https://github.com/mozilla-frontend-infra/js-perf-dashboard/commit/f8117cb3e95d2c250121ce33db0bf5cffdf66b09

[2018-09-06 13:42] #52 closed

[2018-09-07 16:02] armenzg opened #60 "Calculate Y labels on lower_is_better value from Treeherder"
I currently labeled all benchmarks with 'Execution time' by default and manually set certain benchmarks with 'Score'.

I'm going to make the assumption that:
* Lower is better means 'Execution time'
* Higher is better means 'Score'

I had researched if Treeherder exposed the "unit", however, that would refer to 'ms' vs 's' which it would still be 'Execution time'.

I will allow for a way to overwr

[2018-09-07 19:10] armenzg opened #62 "Generic error boundaries"

[2018-09-10 13:49] armenzg commented on #60
Landed.

[2018-09-10 13:49] #60 closed

[2018-09-11 14:52] jbergstroem opened #64 "What happened to webkit?"
Just visited the new site (which looks like a great improvement!) - can't see webkit any longer. Is it no longer being tested?

[2018-09-11 15:10] armenzg commented on #64
Hi @jbergstroem, thanks for the compliment!

IIUC it was not part of the original requirements for the migration since comparing against Chrome was more pressing.

To add support for it would require running it on Treeherder [1] and get it to report to Perfherder [2].

If this is important to track, it is important the JS team to contact the automation team to get it added to the team's priority.

[2018-09-11 17:51] jbergstroem commented on #64
Thanks for elaborating! Hopefully it finds it way back at some point then.

[2018-09-19 15:37] armenzg commented on #64
For now, I'm going to close this and leave a link to where it should be filed to be added to Treeherder/Perfherder:
https://bugzilla.mozilla.org/enter_bug.cgi?product=Testing&component=General

Thanks for asking!

[2018-09-19 15:37] #64 closed

[2018-09-19 15:59] armenzg opened #65 "Add anchors for all graphs"
Currently there's no way to share a URL that will draw the viewer to a specific graph.

[2018-09-20 08:33] echessa commented on #65
Hi @armenzg I found this project on Outreachy. I have added anchors to the graphs. Let me know if the fix is/isn't okay.

[2018-09-20 08:46] echessa commented on #47
@armenzg In the Google docs specifications document, it is stated that we need to add the following to the tooltip:

 - Score and unit of measurement
 - Delta
 - Source
 - Date

Right now, the backend API isn't returning the first three data points. Should we wait for this to be fixed or should we go ahead and create a prototype tooltip with fake data?

[2018-09-20 15:32] armenzg commented on #47
The unit of measurement we need to specify it in the configuration files since Treeherder/Perfherder does *not* provide that data. We can tackle this later.

When we have a case of "execution time" let's assume 'ms'.

In order to determine if "execution time" vs a "score" we determine it in [here](https://github.com/mozilla-frontend-infra/js-perf-dashboard/blob/master/src/utils/prepareData.js#L48-

[2018-09-20 18:58] armenzg opened #67 "Add Roboto font"
We’re currently using the default font, however, I would like us to use Roboto Sans.

You can see how a different font got added in here:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/commit/9ff6b2ec237ebdc3f243c9cf0b028f542a039f47

[2018-09-20 19:06] armenzg opened #68 "Add icons for Perferherder links"
We currently have hyperlinks with the text “Perfherder link”, let’s change that up for some icons.

I think icon will go well:
https://material.io/tools/icons/?search=link&icon=link&style=baseline

Let's place the icon to the right of the benchmarks title.

[2018-09-20 19:08] Soundharyaam commented on #67
Hi, Can I work on this issue?

[2018-09-20 19:21] armenzg opened #69 "Drilldown link for every benchmark on the Overview view"
For instance, besides Kraken to have a drilldown icon that would take the user to /<platform>/kraken

I was considering this icon:
https://materialdesignicons.com/icon/arrow-down-thick

[2018-09-20 19:46] Soundharyaam commented on #67
PR : #70

[2018-09-21 05:12] Soundharyaam commented on #67
@armenzg I have made the PR. Could you please review this?

[2018-09-21 05:16] Soundharyaam commented on #68
@armenzg I have made the PR. Could you please provide your review on this?

[2018-09-21 12:57] echessa commented on #47
@armenzg I think I get it. I'll work on it this weekend and if I run into any problems, I'll let you know on Monday.

[2018-09-21 13:02] armenzg commented on #47
👍 have a good weekend!

[2018-09-22 17:17] Paarmita opened #73 "Yarn install not working"
On `yarn install`, I'm getting an error but `npm install` works followed by `yarn start`
![screenshot from 2018-09-22 22-44-37](https://user-images.githubusercontent.com/26546816/45919822-5ccd8480-beb9-11e8-89ca-d373e40e23c9.png)

[2018-09-22 18:09] Paarmita commented on #69
@armenzg Did u refer this? But where will this icon take the user?
![screenshot from 2018-09-22 22-58-54](https://user-images.githubusercontent.com/26546816/45920375-c0a77b80-bec0-11e8-8eb8-a060c2855357.png)

[2018-09-24 14:30] armenzg commented on #69
Hi @Paarmita you got it!

Could you line up the Platform picker to the left?

Given "Kraken" and "Windows 10 64-bit" it should take the user to:
https://js-perf-dashboard.netlify.com/win10/kraken

It should always take to <platform>/<benchmarkName>.

[2018-09-25 02:05] Paarmita commented on #69
It will look like this. Let me try doing this!

![screenshot from 2018-09-25 07-34-32](https://user-images.githubusercontent.com/26546816/45988631-7c210900-c095-11e8-8742-bfd8fb261574.png)

[2018-09-25 12:12] aimenbatool commented on #67
Hi @armenzg, Is this issue solved or still available?

[2018-09-25 14:41] aimenbatool commented on #67
Hi @armenzg, I have solved this issue and opened a pull request #75. Can you please check and merge that?

[2018-09-26 12:33] armenzg opened #77 "Looking for more good first issues?"
This Outreachy project in itself will be difficult but the number of good first issues is limited.

For the purposes of your applications you can still make contributions (and will count for this Outreachy application) to one of these two projects:
- https://codetribute.mozilla.org/projects/taskcluster?project%3Dtaskcluster-web
- https://codetribute.mozilla.org/projects/taskcluster?project%3DTools

[2018-09-26 15:07] armenzg commented on #67
This just got fixed:
https://github.com/mozilla-frontend-infra/js-perf-dashboard/issues/77

Thank you!

[2018-09-26 15:07] #67 closed

[2018-09-26 15:08] armenzg commented on #68
This got fixed with 019e733c4c1313753ecb79deaf9e8d9bde9bb8e8

[2018-09-26 15:08] #68 closed

[2018-09-26 15:21] armenzg opened #78 "Add Sentry support"
You can read some documentation about it in here:
https://docs.sentry.io/platforms/javascript/react/?_ga=2.113302979.599574481.1537974632-1717276547.1536588410&platform=javascript

Here's an example code that can be used as *inspiration* (no copy/paste; think about it and name it properly):
[code]

[2018-09-27 12:33] Paarmita commented on #69
@aimenbatool I'm working on this issue. The icon would take us to https://js-perf-dashboard.netlify.com/win10/kraken, given "Kraken" and "Windows 10 64-bit" in benchmark and platform.

[2018-09-27 13:05] aimenbatool commented on #69
@Paarmita  Okay sure. :)
I thought you were not active on it anymore. Good Luck girl. :muscle:  :)

[2018-09-27 13:32] Paarmita commented on #69
@aimenbatool I'm working on the code as it needs to pass routes for benchmark and platform selected by clicking the icon.

[2018-09-29 21:38] zenara commented on #78
Hello @armenzg , is this issue open for newbies ?

[2018-10-01 13:18] armenzg opened #81 "Add Android as a platform"
In this project:
https://health.graphics/android
We added graphs for Speedometer on Android:
<img width="1662" alt="image" src="https://user-images.githubusercontent.com/44410/46290044-b63c5000-c558-11e8-9e5e-f1826283a23e.png">

The configuration used is this:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/commit/8f6cb77644d04cc6b9da9bef476b8def49951d3f#diff-6469b67e9111f5136fe

[2018-10-01 13:34] armenzg opened #82 "Refactor configuration logic"
Currently, we have one single file that wrangles the various platforms we have with the various benchmarks we have.

In some sense, it has a little resemblance to the buildbot-configs configuration files (which is a horrible thought) and I want to refactor it into multiple platform config files (more a-la-TaskCulster-style).

The changes on this issue will require modifications at least in these t

[2018-10-01 13:57] armenzg commented on #78
Hi @zenara you're welcome to give it a try! :)

Remeber you need to install this package:
```$ yarn add @sentry/browser@4.0.6```

And configure the SDK:
https://docs.sentry.io/quickstart/?platform=javascript#configure-the-sdk
[code]

[2018-10-01 15:57] klahnakoski commented on #82
* Must these config files be javascript, or can they be JSON?
* Are the `labels` related to the members of the `compare`?
* May the data structure be flatter? ie  instead of `{key: value}` we use `[{"id":key, "config":value}]`?
* May we flatten the structure even more, assigning a platform property to each benchmark?

I have not even looked a the code yet, so these may be naive questions.

Like th

[2018-10-01 20:05] armenzg commented on #82
They don't have to be Javascript.

They're... I will be honest; we could get rid of the top labels. It is only for the purpose of this widget:
<img width="232" alt="image" src="https://user-images.githubusercontent.com/44410/46312554-64fd8200-c593-11e8-9c8c-95ba4c2c20e4.png">
It is meant to match the colours and labels of the graphs.

If it doesn't become harder to manipulate programatically or to

[2018-10-03 02:48] divyanshu-rawat opened #83 "dropdown hiding the content behind it."
When any of the platform or the benchmark input is clicked, it opens up an dropdown that basically hides the selected input and the content behind it.
To get more insight kindly see the attached screenshot for benchmark input selection dropdown, that also holds true for platform slection dropdown.

![screen shot 2018-10-03 at 8 16 42 am](https://user-images.githubusercontent.com/13464678/46387570-

[2018-10-03 02:49] divyanshu-rawat commented on #83
@armenzg I would like to solve this issue.

[2018-10-03 12:32] armenzg commented on #83
The selected option is shown with a gray background:
<img width="229" alt="image" src="https://user-images.githubusercontent.com/44410/46410339-8d49c580-c6e6-11e8-911c-8c8525296400.png">

This is not an issue as far as I'm concerned.

There are other issues to be fixed in this project or even other projects to contribute with similar characteristics:
https://codetribute.mozilla.org/projects/taskcl

[2018-10-03 12:32] #83 closed

[2018-10-03 16:40] jmaher opened #85 "add feature to toggle -qr so we can compare regular vs webrender data"
we currently run raptor on linux64-qr and windows10-qr so we should be able to compare a given benchmark (i.e. speedometer) between firefox && firefox-qr, likewise the existing firefox vs chrome.

This is a bit vague, ideally there is a good idea for how to do this either on the existing graphs, or a secondary page.

[2018-10-03 17:54] armenzg commented on #85
The request for toggling will be tackled in the Outreachy project.

Mixing different platforms depends on this [issue](https://github.com/mozilla-frontend-infra/js-perf-dashboard/issues/82) being fixed.

[2018-10-03 19:44] stuartphilp opened #87 "Add memory dropdown"
Memory (areweslimyet) usage tracking is important for many upcoming features like webrender and fission. Tracking this on the perf dashboard via a dropdown (below the js benchmarks?) would be great

[2018-10-03 23:44] armenzg commented on #82
I'm seeing a couple more of issues being filed that would depend on this to be fixed fist. In other words, this has become a bit more important since the Android work they could see it plotted on the fx-health dashboard.

Let me know if you think you could tackle this in the next couple of weeks.

[2018-10-04 12:56] armenzg commented on #69
@Paarmita are you still working on this? or can we free it up for others to take?

[2018-10-04 12:59] Paarmita commented on #69
@armenzg I was busy with my exams I worked on setting up the routes for this but haven't completed it. You can assign this to others and I could work with them further. :)

[2018-10-04 13:05] armenzg opened #88 "Use code splitting to reduce build size"
If you load the network tab when loading the page you will see that just the .js code is about 700+kb.
<img width="1000" alt="image" src="https://user-images.githubusercontent.com/44410/46475733-5510b880-c7b4-11e8-9956-664fce0c9aed.png">

If you run |yarn build| you will notice webpack warns us about this [1].

We can optimize the build size by following some of the recommendations mentioned here:

[2018-10-04 13:42] armenzg commented on #87
Would adding this make this project to be the "Perf dashboard" rather than the "**JS** perf dashboard"? I'm OK if we do but just want to hear that it is what we want to do.

This would add these many benchmarks:

* Base Content Explicit
* Base Content Heap Unclassified
* Base Content JS
* Base Content Resident Unique Memory
* Explicit Memory
* Heap Unclassified
* Images
* JS
* Resident Memory

Doe

[2018-10-04 15:02] armenzg opened #89 "Allow setting a start date"
We're adding the ability to set the range of data to show with a 'Time range' picker:
https://github.com/mozilla-frontend-infra/js-perf-dashboard/pull/84

We would like the ability to set the `startDate` as a query parameter.

We can use this date picker:
https://material-ui.com/demos/pickers/#date-pickers

[2018-10-04 16:37] armenzg opened #90 "Do not further requests when changing the timeRange"
We're adding the ability to set the range of data to show with a 'Time range' picker:
#84

The way this is implemented is by requesting the data again from Perfherder.

We should change this so we fetch all data for the year and manipulate the data in the UI to refresh the graphs.

It should be a good idea to review this section:
https://www.chartjs.org/docs/latest/developers/updates.html

[2018-10-06 13:57] Anshika-G commented on #69
Hi @armenzg can I take this up?

[2018-10-09 19:29] armenzg opened #92 "Add time range slider"

[2018-10-09 19:34] armenzg commented on #92
Handled by @mihhu 🎺 🎉  Thanks!

[2018-10-09 19:34] #92 closed

[2018-10-09 19:42] armenzg commented on #35
This issue was being referenced by PR #84 due to my fault.

This issue is a bit more involved than adding a time range picker.

Let me elaborate, in the original AWFY you could use the mouse to select an area within the graph.
That action would zoom in into the data as well as updating the URL.

Selecting a region would update the URL with `&start=1512012389&end=1519251100`.

On Treeherder, it is

[2018-10-11 14:36] armenzg commented on #69
@aimenbatool finished this up. Thank you!

[2018-10-11 14:36] #69 closed

[2018-10-22 12:45] armenzg commented on #88
@gozes fixed this; thank you!

[2018-10-22 12:45] #88 closed

[2018-10-22 13:09] mgaudet opened #95 "Add link to this repo in footer"
It would be nice if there was a direct link to this repo in the footer, so that it's easy to determine where to open issues.

[2018-10-22 13:10] mgaudet opened #96 "On mobile, graphs have zero y range"
Meaning you can't actually see anything. Everything else looks like it might be working fine tho.

![image-1](https://user-images.githubusercontent.com/2906003/47294142-2bd89080-d5da-11e8-8796-074318d4bba8.jpg)

[2018-10-22 14:54] armenzg commented on #95
@mgaudet would the "Fork me on GitHub" ribbon work for you?
<img width="152" alt="image" src="https://user-images.githubusercontent.com/44410/47299702-dc4d9100-d5e8-11e8-9f0a-9fbd0b05f338.png">

[2018-10-22 15:08] armenzg commented on #95
I just read your comment again. A link to filing issues should be all it is needed.

[2018-10-23 12:35] armenzg commented on #95
@brickmaker17 please go ahead. Thanks!

[2018-10-23 16:12] jmaher opened #97 "Chrome data uses a different platform (<platform>-nightly vs <platform>)"
we switched our chrome test runs from per commit on m-c to the nightly scheduler- this means that they post under a different config than previously.  I assume we can add this to the same graph.

@armenzg tips?

[2018-10-23 18:50] armenzg commented on #97
This will require some work since over the same graph we're plotting data for different platforms (e.g. linux64 vs linux64-nigthly).
The platform will now have to be included in here [1].

The platform these days is passed through here:
https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/blob/master/src/utils/fetchData.js#L6
which is then included in here:
https://github.com/mo

[2018-10-23 21:01] asingh217 commented on #12
@armenzg I would like to work on this issue.
Currently the dashboard shows the following data point

![screen shot 2018-10-24 at 2 16 25 am](https://user-images.githubusercontent.com/11534867/47389806-5a1db380-d733-11e8-9e32-d059f54307bc.png)

I wanted the clarify the expectations for this issue. Following are the very high level scenarios for the issues. I need help in clarifying the scenario#3
1

[2018-10-24 07:20] aimenbatool commented on #97
Hi @armenzg, I couldn't understand Jmaher's requirement as there is no visual attached to it to see and relate.

What is m-c and nightly scheduler?

Which graph?

However, I can understand your comment but don't know the actual issue here so can't connect the dots.
Would you mind elaborating?

Thanks,

[2018-10-24 10:17] jmaher commented on #97
@aimenbatool this is my fault for filing something with a cryptic request.

m-c = mozilla-central repository
nightly scheduler = instead of running the tests on every commit in the respository, we have 1-2 times/day a "nightly" build that is run and we only run the test on those nightly builds

In this case, this will be all the graphs that display google-chrome data- those tests were all switched

[2018-10-24 12:58] armenzg commented on #97
If you follow [this link](https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&searchStr=raptor%2Cchrome%2Cnightly), you will see few Chrome jobs that run after a Firefox nightly release happened:
<img width="454" alt="image" src="https://user-images.githubusercontent.com/44410/47431170-442ae580-d769-11e8-8b23-ea296b6e49a6.png">
If you select one of those jobs you will see this UI at the bot

[2018-10-24 13:02] armenzg commented on #12
For 3, closing and opening a new one is preferred. Thanks!

[2018-10-24 15:37] bnjbvr opened #99 "Add wasm-godot to the list of benchmarks"
... following the work that happened in [bug 1493648](https://bugzilla.mozilla.org/show_bug.cgi?id=1493648). Maybe we should wait a bit that it sticks :)

[2018-10-25 13:52] armenzg opened #101 "The drilldowns don't work properly"
If you visit the Linux64 page (the issue does not have on the win10 page):
https://arewefastyet.com/linux64/overview?numDays=90

A click on any of the drilldowns (see downward arrow):
<img width="240" alt="image" src="https://user-images.githubusercontent.com/44410/47504828-fed6e880-d83a-11e8-9827-cb1c3f10e7f2.png">
it will take you to here:
https://arewefastyet.com/win10/overview?numDays=90
inste

[2018-10-25 14:54] armenzg opened #102 "Allow overwriting reversing subtests"
Sometimes the Perfherder metadata about subtests can be incorrect:
https://bugzilla.mozilla.org/show_bug.cgi?id=1502036#c2

Over here is where we calculate if we should reverse the graphs or not:
https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/blob/master/src/utils/prepareData.js#L42-L50

We could pass an extra parameter in `prepareData` and `fetchData`:
https://github.com/

[2018-10-26 00:01] asingh217 commented on #12
Hi Armen,
I have implemented the basic sticky data points using chartjs plugin. However, I am stuck with lint errors. I need _datasetIndex & _index property of the ChartElement when i click on the chart but the lint hooks do not allow dangling underscore. This is in-built value.
Please help how should i proceed.

[2018-10-26 12:18] armenzg commented on #12
Hi @asingh217 you can use `// eslint-disable-next-line <name_of/rule>` on the line above the error.

Does this help?

[2018-10-26 13:02] asingh217 commented on #12
thanks @armenzg. Yes this helps. I will try this and let you know.

[2018-10-26 23:54] asingh217 commented on #12
Hi @armenzg ,
I have pushed my changes. Link to my commit against my fork -> https://github.com/asingh217/firefox-performance-dashboard/commit/1274e01f5393b8d5c7c84778eb8b0218f151fbfd

Please confirm if the functionality is as expected. This is my first commit in mozilla so i am not sure if I should wait for your confirmation to open a Pull Request. Please let me know.

[2018-10-28 00:13] armenzg commented on #12
@djmitche or @sarah-clements would you mind having a look at this?
I will be back on Wednesday.

[2018-10-28 00:13] armenzg commented on #12
@asingh217 exciting to hear you contributing to Mozilla! Thanks for your help!

[2018-10-29 16:51] aimenbatool commented on #97
Hi @jmaher, Thanks for the clarification. This makes sense to me now.

[2018-10-29 17:01] asingh217 commented on #12
@armenzg - I am glad. I will be raising a PR and i hope that will make feedback easier.
Thanks Armen

[2018-10-29 18:19] sarah-clements commented on #12
@asingh217 I'm unable to checkout your commit to test it. Can you open the pull request in a new branch instead of on master? I think you'll have to open a new pull request and close this one. The only thing you need to do is in your terminal `git checkout -b <your-branch-name>` and that should keep your commits (you can confirm this by typing `git log` into your terminal). Generally, we keep mast

[2018-10-30 12:14] asingh217 commented on #12
@sarah-clements - Just to confirm, I have to create a new branch under my fork repository and then create a PR.

[2018-10-30 14:23] djmitche commented on #12
That's correct.  A good practice with git is to never commit changes directly to `master` -- do it on a branch instead, then merge or rebase that onto master later (usually via a Github PR)

[2018-10-30 14:35] asingh217 commented on #12
@sarah-clements / @djmitche - As suggested by Sarah, I have also removed the unnecessary comments. Now, comments are added single line comments only where I thought was required to future reference.

[2018-10-31 11:45] aimenbatool commented on #97
Hi @armenzg, This makes little sense, I have a few confusions though.

- Benchmarks are defined [here](https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/blob/master/src/config.js#L5)  having `assorted-dom` or `raptor-assorted-dom-firefox` etc. defined. And you also added `'raptor-assorted-dom-chrome-old'` in your comment above.

[code]

I am curious how this naming convention

[2018-10-31 11:47] aimenbatool commented on #97
Link is not working and giving the following error.
![screenshot from 2018-10-31 16-20-56](https://user-images.githubusercontent.com/13648547/47786136-9c935180-dd2c-11e8-936c-9f26236f3d07.png)

[2018-10-31 12:18] aimenbatool commented on #97
Please defined these boxes on left becuase It has different color and information in three different links.
[link1](https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,1791032,1,10&selected=mozilla-central,1791032,394824,617639491), [link2](https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,1791032,1,10&series=mozilla-central,1730980,1,10), [link3](https://

[2018-10-31 15:00] aimenbatool commented on #101
https://arewefastyet.com/linux64/overview?numDays=90

This issue is on every platform even on win10.

https://arewefastyet.com/linux64/ares6?numDays=90

It works for any `numDays` value.

I updated code and removed timeRange from validation [here](https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/blob/master/src/utils/validCombination.js#L7-L9) and [here](https://github.com/m

[2018-10-31 16:57] armenzg commented on #97
'raptor-assorted-dom-chrome-old': {
+        color: '#e55525',
+        label: 'Chrome',

Yes. The key of each entry is mostly irrelevant.
At most, it might the unique identifier (key) when iterating and creating React elements.
You can read more about it here:
https://reactjs.org/docs/lists-and-keys.html#keys

That is a very good questions and perhaps you can take what I mention in here and add i

[2018-10-31 17:48] armenzg commented on #101
Yes, passing a default value will be good.

In general, unless we add tests to test the code it is very easy to cause regressions when new code is landed.

[2018-11-02 15:21] armenzg commented on #101
Thanks for the fix!

[2018-11-02 15:21] #101 closed

[2018-11-05 07:09] sakshi97 commented on #95
Hi can i take up this issue if it's open?

[2018-11-06 13:58] armenzg commented on #99
@bnjbvr is this done?

[2018-11-06 14:03] armenzg commented on #65
Hi @echessa I have not heard back from you. I will let other people work on this unless you tell me you can jump back to it very soon. Thanks for all your help so far.

[2018-11-06 14:18] armenzg commented on #62
Here's an example of a higher order component that works as an error boundary which uses the Raven library to report to Sentry:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/hocs/withErrorBoundary.jsx

Sentry now recommends to use `@sentry/browser`:
https://docs.sentry.io/platforms/javascript/react/?_ga=2.113302979.599574481.1537974632-1717276547.1536588410&pla

[2018-11-06 14:19] armenzg commented on #62
We can first focus on *just* adding a generic error boundary and on a second pass focus on adding Sentry support.

[2018-11-07 11:00] bnjbvr commented on #99
Yes, I think so!

[2018-11-07 11:09] echessa commented on #65
Hi @armenzg. Sorry about the **very long** delay in completing the task. I got a bit busy, so I haven't had time to work on it. I decided not to apply for this intake of Outreachy because I will be quite busy during that time. I might do it for the next intake. I thought I would still close this issue, but since @aimenbatool is already working on it, then let me just leave it to her instead of cau

[2018-11-07 12:58] armenzg commented on #99
yay!

[2018-11-07 12:58] #99 closed

[2018-11-07 13:02] armenzg commented on #65
Hi @echessa I'm looking forward to work together when things get better for you and I hope to see you around for the next Outreachy term. I completely understand that life gets busy.

I've closed it. Take care!

[2018-11-07 17:16] aimenbatool commented on #62
Should I solve this issue first and #78 later?

[2018-11-08 15:17] armenzg commented on #62
That's right. Thanks for checking!

[2018-11-09 13:50] armenzg commented on #65
After some of my findings I believe it is best to close this as it was not a users' request.

It is actually not due that the data is being fetched outside the container. See next comment.

I'm leaning towards closing this and forgetting about it since no one asked for this feature.

[2018-11-14 13:46] jmaher opened #112 "for arewefastyet.com graphs, add in reference hardware laptops as another line"
we now run our raptor tests on mozilla-central on lower end reference laptops:
https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&searchStr=64-ux&revision=073045259e75e0c8f7b8ffcd5e4bf72570f98f3e

we should plot this line in additions to firefox/chrome.

@armenzg can you help make sure this issue is annotated correctly or filed in the right places so we don't forget about it?

[2018-11-15 13:38] armenzg commented on #112
As the project stands we can add this as a new platform rather than overlay it with the standard Windows 10 machines.

If just adding it as a new platform I can do so soon.

For personal note:

- Suite: raptor-wasm-godot-firefox
- Option: opt
- Project: mozilla-central
- Platform: windows10-64-ux

[2018-11-15 14:05] #65 closed

[2018-11-15 14:06] armenzg commented on #112
This has landed.

[2018-11-15 14:06] #112 closed

[2018-11-19 14:26] nbp opened #114 "Graphs are hard to decipher as they are too dense vertically."
The graph which are on arewefastyet are hard to spot issues because small variantions are masked by the fact that they are packed horizontally.

Could we have taller graphs instead?

Note: There is a resizing bug when opening and closing the devtools which can be used as a work-around.

[2018-11-19 21:01] armenzg commented on #97
My apologies I had to jump on this.

I was trying to verify the work on https://bugzilla.mozilla.org/show_bug.cgi?id=1502036
and once I was there I noticed that it was all due to using old Chrome data.

I've pushed a fix for this.

[2018-11-19 21:01] #97 closed

[2018-11-19 21:04] armenzg commented on #102
We've fixed both benchmarks that were not following the norm.
This is not needed anymore.

[2018-11-19 21:04] #102 closed

[2018-11-19 21:19] armenzg commented on #114
Hi @nbp
Would you mind reviewing this?
https://deploy-preview-115--firefox-performance-dashboard.netlify.com/win10/overview?numDays=60

I increased the height as well as reduce the # of days from 90 to 60.

[2018-11-20 10:42] nbp commented on #114
Looking at `Speedometer Inferno-TodoMVC/Adding100Items/Async` before and after, the drop is a bit more noticeable. I would prefer a bit more taller but this sounds ok.

However, the charts height keeps increasing when you open one of the drop-down menu.

[2018-11-20 13:07] armenzg commented on #114
The day I have more time I might try to understand a bit better why resizing happens so easily with ChartJS. I might be doing something silly.

I've increased the height a bit more and I've changed `beginAtZero` to false.

[2018-11-20 13:14] armenzg commented on #114
I've merged the changes. If you have other ideas on how to improve this please let me know.

[2018-11-20 13:14] #114 closed

[2018-11-21 16:29] jmaher opened #116 "small tweaks to tp6 sub metrics view"
https://arewefastyet.com/win10/tp6-facebook?numDays=60

1) "all subbenchmarks" -> opens the geomean, shouldn't this be all subtests
2) if using geomean, add a note about that
3) if there is not enough data for a specific metric, ensure dates align across all metrics
4) add in google chrome (issues as we don't have identical metrics to record)

[2018-12-07 01:13] armenzg commented on #96
This got fixed thanks to @aimenbatool

<img width="389" alt="image" src="https://user-images.githubusercontent.com/44410/49621443-5799b500-f993-11e8-8373-094b43ace263.png">

[2018-12-07 01:13] #96 closed

[2018-12-07 01:14] #9 closed

[2018-12-07 01:14] #62 closed

[2018-12-07 01:14] #78 closed

[2018-12-07 01:14] #82 closed

[2019-02-13 15:20] mgaudet opened #117 "X-Axis Disagreement"
Visit https://arewefastyet.com/win10/tp6-amazon?numDays=36, and scroll down
Notice that the X axes don't seem to agree:

![image](https://user-images.githubusercontent.com/2906003/52722094-f2f16c80-2f78-11e9-8f47-f5966c28b9b4.png)

[2019-04-09 08:15] davehunt opened #121 "Add Windows ARM64 platform results"
We now have results for platform windows10-aarch64, which we should add to the dashboard.

[2019-04-09 08:16] davehunt commented on #121
At the moment it seems we only have Raptor results, but we can anticipate Talos results. This is being tracked in [bug 1531876](https://bugzilla.mozilla.org/show_bug.cgi?id=1531876).

[2019-04-09 08:20] davehunt opened #122 "Rename Chrome to Chromium"
The data represented as 'Chrome' is actually running on Chromium. We should update all labels to reflect this. We are planning to also run tests on Chrome, so it will be important to be able to distinguish and accurately reflect what we're testing.

[2019-04-09 08:26] davehunt opened #123 "Add mobile platform results"
We should show the performance results for our mobile platforms.

[2019-04-09 08:29] davehunt opened #124 "Add remaining tp6 suites"
We currently only show Amazon, Docs, Facebook, Google, Sheets, Slides, and YouTube page load results. We should extend this to show all page load results available on each platform.

[2019-04-09 08:51] davehunt opened #125 "Change page title"
Page title is currently "JavaScript Performance Dashboard" but the results are not all related to JavaScript. We should make the title more generic such as "Firefox Performance Dashboard".

[2019-04-24 20:33] armenzg commented on #122
Fixed
<img width="208" alt="image" src="https://user-images.githubusercontent.com/44410/56691724-a8921780-66ae-11e9-86b5-aca9ef65c8b5.png">

[2019-04-24 20:33] #122 closed

[2019-04-24 20:40] armenzg commented on #125
Fixed.

[2019-04-24 20:40] #125 closed

[2019-04-25 12:33] armenzg commented on #124
@davehunt please let me know if there are any missing. I went through the tp6 jobs on Treeherder to verify.

[code]

https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/commit/99ede3bba810495c5b76104e1fac1556b1c00148#diff-9d9a6cd82f41984872a66a3ab0d440c4R592

[2019-04-25 16:07] armenzg commented on #121
I landed this.

[2019-04-25 16:07] #121 closed

[2019-04-25 20:14] armenzg commented on #123
I've resolved this.
Notice that I'm aware that we lack some past data for Moto G5 and Pixel 2 Arm7 (see screenshot). I could fix this in the future if it's important to have.
If you need to file follow up issues please contact kthiessen or let them wait until May 20th when I come back.
<img width="1099" alt="image" src="https://user-images.githubusercontent.com/44410/56765425-fb360700-6774-11e9-95

[2019-04-25 20:14] #123 closed

[2019-04-25 20:22] armenzg commented on #117
Hi @mgaudet I completely missed this. My apologies.

This has to do with how much data Perfherder has for a specific test. On that screenshot the ttfi did not have data before February.

If it helps visually we could investigate making the X-axis always start at the same place for all the graphs regardless if there's data. I'm leaning toward not fixing, however, I'm happy to mentor any interested

[2019-05-03 07:55] davehunt opened #131 "Chromium jobs are not reporting anymore"
It appears that due to various platform and test name changes, we are no longer showing the some results since the end of March:

Here's an example where the Chromium results are no longer showing:
![Screenshot_2019-05-03 Firefox Performance Dashboard](https://user-images.githubusercontent.com/122800/57125026-b404d300-6d7f-11e9-92e7-6f197bbc2bba.png)

In this case, the platform changed from linux6

[2019-05-03 07:56] davehunt commented on #122
Thanks @armenzg it appears we're missing the latest results from Chrome. I've raised #131 for  investigation.

[2019-05-03 08:05] davehunt commented on #124
The full list for desktop (Firefox/Chromium) is:

raptor-tp6-apple
raptor-tp6-binast-instagram
raptor-tp6-bing
raptor-tp6-docs
raptor-tp6-ebay
raptor-tp6-facebook
raptor-tp6-google
raptor-tp6-google-mail
raptor-tp6-imdb
raptor-tp6-imgur
raptor-tp6-instagram
raptor-tp6-linkedin
raptor-tp6-microsoft
raptor-tp6-office
raptor-tp6-outlook
raptor-tp6-paypal
raptor-tp6-pinterest
raptor-tp6-reddit
raptor-

[2019-05-05 21:04] kentuckyfriedtakahe commented on #131
Can we make this either Chrome Green which seems to be #0F9D58 or perhaps Chromium Blue which might be #4285F4. It would make it easier to distinguish from the Firefox Orange, yellow and red colours.

[2019-05-22 16:23] armenzg commented on #131
Chromium jobs are now reporting with suite -chromium and platform -shippable.

I've decided to drop prior data, however, if you ask kthiessen for me to invest more on this I could get you all of the past data. I would need to remove the [platformTransformation](https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/commit/3bdb63d636f4f6110e0eb32d9e1f41eff9f81146) hack and have per

[2019-05-22 16:40] armenzg commented on #131
@davehunt @kentuckyfriedtakahe f?

https://5ce57a05b654d00008cab67c--firefox-performance-dashboard.netlify.com/linux64/overview?numDays=60
<img width="1047" alt="image" src="https://user-images.githubusercontent.com/44410/58192442-bb3c4400-7c8e-11e9-9d4b-ca1ebc658431.png">

[2019-05-23 14:06] armenzg commented on #124
I copy/pasted the list of jobs provided and added a test to verify that all entries are defined.
Screenshots for a page for Windows and another for Android.
<img width="1311" alt="image" src="https://user-images.githubusercontent.com/44410/58259296-3e6aa200-7d42-11e9-962d-6115056de0b3.png">
<img width="1307" alt="image" src="https://user-images.githubusercontent.com/44410/58259372-62c67e80-7d42-11

[2019-05-23 14:06] #124 closed

[2019-05-23 14:08] armenzg commented on #131
If the lack of historical data for Chromium is an issue please let kthiessen know.

[2019-05-23 14:08] #131 closed

[2019-07-31 13:40] davehunt opened #165 "Update Windows 10 64bit (laptops)"
The platform name has changed from 'windows10-64-ux' to 'windows10-64-ref-hw-2017'. We should pull in the datapoints from the new name, and update the label to 'Windows 10 64bit (2017 reference laptop)'.

[2019-07-31 13:45] davehunt opened #166 "Add ARES6 benchmark"
We've migrated ARES6 to Raptor, and now have results for each platform as follows:

- [Linux 64bit (Firefox vs Chromium)](https://treeherder.mozilla.org/perf.html#/graphs?timerange=5184000&series=mozilla-central,2095921,1,10&series=mozilla-central,2095869,1,10)
- [Windows 7 32bit (Firefox vs Chromium)](https://treeherder.mozilla.org/perf.html#/graphs?timerange=5184000&series=mozilla-central,209602

[2019-07-31 13:50] davehunt opened #167 "Replace Tp6 Wikia with Tp6 Fandom"
tp6-wikia was recently replaced with tp6-fandom due to the wikia.com domain permanently redirecting to fandom.com. We should replace references to tp6-wikia with tp6-fandom.

https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/blob/082f7cbbac7b9a58bb227bc3bbbd2a9db6a2a2d3/src/config.js#L461-L472

[2019-07-31 13:52] davehunt opened #168 "Add Chromium comparisons for Tp6"
We run the Tp6 tests against Firefox and Chromium on all desktop platforms excluding 'windows10-64-ref-hw-2017' and 'windows10-aarch64'. We should display the Chromium results so we can see how we compare.

[2019-07-31 13:58] davehunt opened #169 "Add Tp6 CNN, and rename existing to Tp6 CNN AMP Stories"
We now have a CNN test, so we should add the results, and rename the current 'Tp6 CNN' to 'Tp6 CNN AMP Stories' so that it's not misleading.

[2019-08-01 09:31] davehunt opened #175 "Add Tp6 Netflix and Tp6 Twitch"

[2019-08-01 14:26] sidvishnoi opened #177 "Selecting benchmark causes chart resize (and page crash)"
When selecting a benchmark through the select menu, all the charts get resized (unintended). Selecting benchmark multiple times causes the entire page to crash eventually.
See this video recording on resize behavior: https://streamable.com/g33te
As can be seen in the recording, when the select menu is opened, the body scrollbar disappears, triggering the resize event.

[2019-08-07 15:56] #169 closed

[2019-08-07 15:57] #175 closed

[2019-08-07 15:58] armenzg opened #179 "Support multiple platforms for the same line on a graph"

[2019-08-07 16:02] #166 closed

[2019-08-07 16:02] #167 closed

[2019-08-07 17:22] armenzg commented on #177
Let me know if you have suggestions on how to fix this or if you would like to tackle it.
Perhaps make the containers for each graph have a fix size.

[2019-08-07 18:01] sidvishnoi commented on #177
Yes. Adding size on container would work. But adding a fix size will destroy support for different sizes. I think some viewport based unit would be good.

Sure. I'll set it up locally and quickly send a PR.

[2019-08-08 10:35] #168 closed

[2019-08-08 18:49] #177 closed

[2019-08-08 18:50] armenzg commented on #177
Fantastic! Thank you for your help!

[2019-08-13 15:17] #165 closed

[2019-08-29 16:36] armenzg opened #195 "Build your own custom dashboard"
Nbp mentions:

[2019-08-29 17:11] armenzg opened #196 "Day range slider"
When I click (without holding the click) on the time slider, it sometimes reloads the page, but with the previous time range. In fact, if I retry after this, it's the previous time range that's selected, not the one I want.

[2019-08-29 20:37] armenzg commented on #179
WIP:
<img width="1895" alt="image" src="https://user-images.githubusercontent.com/44410/63974636-3a55cb00-ca7b-11e9-9e56-4ab6cf601d5e.png">

[2019-09-03 13:44] armenzg opened #200 "Change day range slider to only few options"
I want to support the same ranges that Treeherder supports.
This is because if we click on <img width="28" alt="image" src="https://user-images.githubusercontent.com/44410/64178247-1d304c00-ce2f-11e9-921f-90b1609dd87b.png"> with a value that Treeherder does not support then the Perfherder view won't load up.

The accepted values are 1, 2, 7, 14, 30, 60, 90 and 365.

[2019-09-06 20:50] armenzg opened #202 "The drilldown view was missing configurations"
The overview page would look fine, however, the drilldown would only show one platform:
<img width="668" alt="image" src="https://user-images.githubusercontent.com/44410/64459593-4585a800-d0c6-11e9-97a4-5975a5d51152.png">

After the fix we can see all configurations:
<img width="650" alt="image" src="https://user-images.githubusercontent.com/44410/64459647-64843a00-d0c6-11e9-807a-a7495f434b16.png"

[2019-09-07 12:38] #202 closed

[2019-09-30 21:40] sidvishnoi commented on #200
material-ui v4 has support for [discrete sliders](https://material-ui.com/components/slider/#discrete-sliders) (specifically the `marks` option), which solves this exact problem. v3 supports a custom step-reducer option, which can solve this - but will be ugly.
Should we update material-ui dependency? (and also maybe react to 16.8 - with hooks?).
If you have some time for code reviews, I can help

[2019-10-01 15:43] davehunt opened #218 "Add Chrome results"
We're now running tests on Chrome in addition to Chromium. Can we add these results to all graphs where they're available? An example for speedometer on win64: https://treeherder.mozilla.org/perf.html#/graphs?timerange=2592000&series=mozilla-central,1933370,1,10&series=mozilla-central,1981461,1,10&series=mozilla-central,1933151,1,10&highlightAlerts=1

[2019-10-02 07:32] airimovici commented on #218
I will work on this ^

[2019-10-02 08:45] davehunt commented on #218
@armenzg could you add @airimovici to the contributors so he can self-assign issues?

[2019-10-07 17:50] armenzg commented on #200
Thanks @sidvishnoi
That would be super useful. I'm happy to review.

[2019-10-07 17:51] armenzg commented on #200
(I'm back to work; I was away for 3 weeks)

[2019-10-07 17:52] armenzg commented on #218
Done.

[2019-10-07 17:53] armenzg commented on #218
@davehunt I've increased your privileges and you should be able to add users in the future.

[2019-10-07 20:07] armenzg commented on #179
Fixed in here:
https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/pull/198/commits/17969d5844c1c905175d63c39260e88a9fc15c53

[2019-10-07 20:07] #179 closed

[2019-10-10 12:58] sidvishnoi commented on #200
This would be fairly easy to fix now.
I did try using those discrete sliders locally. Turns out, adding a range of [1,2, .., 365] makes the slider very congested in start and very loose in end. Something like the following:
![image](https://user-images.githubusercontent.com/8426945/66570700-bddefd80-eb8b-11e9-8161-f9a10df4dbca.png)

Maybe we can use values [1,2,3,4, ...] or [1,2,4,5,8,9,10,14] to

[2019-10-10 13:54] armenzg commented on #200
Is there a way to get rid of the labels? (the same look that the current slider has)

We could also simplify this by using a dropdown like [the original tool](https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2095817,1,10&timerange=5184000&series=mozilla-central,2126341,1,10&series=mozilla-central,2095947,1,10) uses:
<img width="172" alt="image" src="https://user-images.githu

[2019-10-14 08:48] sidvishnoi commented on #200
Yes.

I think a dropdown would be better.

[2019-10-17 10:43] sidvishnoi opened #232 "Too many duplicated requests"
The following screenshot shows duplicated requests to `TREEHERDER/api/opencollectionhash` on initial page load. Same request is sent on each parameter change in UI. Ideally, should be done only once at page load.
![image](https://user-images.githubusercontent.com/8426945/67002045-a4443580-f0f8-11e9-9494-b734f19ab7ed.png)

[2019-10-17 13:38] armenzg commented on #232
I'm aware of that. It's part of making each graph be independent.
It would be ideal if there was a way to cache this request for the session since the response barely changes.

[2019-10-17 13:41] #200 closed

[2019-10-17 13:42] armenzg commented on #196
We switched to a dropdown. It does not apply anymore.

[2019-10-17 13:42] #196 closed

[2019-10-17 13:45] sidvishnoi commented on #232
Caching: We can use the Cache API
Shouldn't that request be called once and that data be passed as a prop to `PerferhderGraph` (instead of going the network caching way)

Also, are there any plans to lazy load charts data? Like instead of rendering all the charts at once, only fetch and render data for "present chart"? I can create a different design if you would like... unless users are expecting

[2019-10-17 16:04] armenzg commented on #232
I thought I had solved the problem and the charts would load as some of their data would become available.
However, you're right. When I load the page with regular 3G network I can see the headers for each graph load:
<img width="249" alt="image" src="https://user-images.githubusercontent.com/44410/67026452-c7112280-f0d5-11e9-9872-31e1f3e7eee9.png">
but I don't see the graph itself plotted until a

[2019-10-17 18:09] armenzg opened #234 "Add Sentry support"
Sentry allows reporting any frontend errors to a service for alerting and analysis.

Follow this code to see how to add support for it:
https://github.com/mozilla/firefox-code-coverage-frontend/blob/8aff0d4b03e952a758d638854812242b9d1c7613/src/index.jsx

The configuration for this project would be this
[code]

[2019-10-17 18:15] armenzg opened #235 "Create a per-dashboard config"
Currently I have two different branches for two different projects:
https://firefox-performance-dashboard.netlify.com
https://awsy.netlify.com

I would like to either join both repos back or at least have different config files so I can merge changes from `master` into the `awsy` branch.

The file that conflicts between the two is [src/config.js](https://github.com/mozilla-frontend-infra/firefox-p

[2019-10-18 14:09] armenzg commented on #232
Would you say we can close this?

[2019-10-18 14:10] sidvishnoi commented on #232
Sure!

[2019-10-18 14:10] #232 closed

[2019-10-23 08:22] bnjbvr opened #237 "Failure to cache response makes site unusable"
STR
===

- go to https://arewefastyet.com/linux64/wasm-misc?numDays=60

Observed
===

- never ending spinner
- dev console shows: TypeError: Cannot convert string to ByteString because the character at index 42 has value 8217 which is greater than 255.

[2019-10-23 08:23] bnjbvr commented on #237
Even the front page is broken, with this error happening repeatedly in the dev console. cc @armenzg

[2019-10-23 12:27] armenzg commented on #237
Would you mind trying again? It looks to work fine for me

[2019-10-23 12:55] armenzg commented on #237
@helfi92 bbouvier (in France) seems to be hitting this issue for:
https://firefox-performance-dashboard.netlify.com/win10/overview?numDays=60
https://5db04a3684ce5222f489a1e4--firefox-performance-dashboard.netlify.com/win10/overview?numDays=60 (no caching commit on tip)

It works for him on Chrome but does not work for him with Firefox release (clean profile), Firefox Nightly, with/without trackin

[2019-10-23 12:59] bnjbvr commented on #237
The error I'm observing is the following: `TypeError: Cannot convert string to ByteString because the character at index 42 has value 8217 which is greater than 255. at  index.e1d6f6c3.js:1:38999`.

Note some French coworkers have reported that it was working fine for them.

[2019-10-23 13:02] helfi92 commented on #237
What does "no caching commit on tip" mean. Not sure I understand the issue.

That's fine but will make the bundle larger which should be okay if it's just for debugging.

[2019-10-23 13:05] armenzg commented on #237
The latest commit on `master` is some code to use the cache API.
I did a deployment without that last commit.

On the interesting note, it is likely that one of these changes is causing the issue:
https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/compare/back_to_5fb5615...master
since [the deployment for that branch](https://5db04e5e5c9a4b00097a5e8b--firefox-performance-dashb

[2019-10-23 13:24] helfi92 commented on #237
I haven't used the Cache API manually but the [docs](https://developer.mozilla.org/en-US/docs/Web/API/Cache) suggests having the cache name include a `CACHE_VERSION`. Perhaps the code is not working because it is trying to read a previous cached item that's not working.

In https://master.neutrinojs.org/packages/web/, there's a comment showing the key that would disable minification.

[2019-10-28 09:24] bnjbvr commented on #237
Thanks for setting up an instance with unminified code!

I can see the error happens in index.js at line 2497, so from a look at the developer's console:

[code]

What happens is that my browser is set to use the French locale :) In this case, Date.toString() seems to return a string describing the date **in French**, using characters that are outside the ascii range. For instance, the value caugh

[2019-10-30 05:45] sidvishnoi commented on #237
@bnjbvr This is very interesting and something I didn't consider.
We can use `Date.toUTCString()` instead. Try-catch is fine to be on the safe side.

[2019-10-31 14:48] #237 closed

[2019-12-06 23:39] divyanshu-rawat commented on #235
@armenzg I am interested in this issue, let me know what it is about? and what you want?

[2019-12-09 14:30] armenzg commented on #235
Hi @divyanshu-rawat thanks for your interest.

There are two branches on this repo: `master` and `awsy`. They each configure a different dashboard (see 1st comment). The configuration files for each dashboard is in their own branch:

- [master branch](https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/blob/master/src/config.js)
- [awsy branch](https://github.com/mozilla-fronte

[2019-12-09 14:38] divyanshu-rawat commented on #234
@armenzg I can also work on it, and I would like to start with it instead of #235 . what do you say?

[2019-12-09 14:39] divyanshu-rawat commented on #234
I can add the config, but how should I check that sentry has sent an `err` event from frontend to it's dashboard?

[2019-12-09 14:49] armenzg commented on #234
You should [Raven](https://www.npmjs.com/package/raven) (for Node) instead of the Sentry package (for the browser). Both are from the company Sentry.

You can start by creating an account with Sentry.io and seeing that it reports there. Once you get it working for your account we simply change the URL to https://a46514ae1f2d42cd83c10d1bb8f4141e@sentry.prod.mozaws.net/436

[2019-12-09 14:50] divyanshu-rawat commented on #234
Cool, will work on it tonight :). 👍

[2019-12-09 14:52] divyanshu-rawat commented on #234
@armenzg and what about the `env` here.

`process.env.NODE_ENV === 'production'`

Is it required here, have we deployed it somewhere?

[2019-12-09 14:57] armenzg commented on #234
For local development you can change the code to make it work for your account.
You can use Netlify to deploy if you would like to. It's easy to set up.
If you open a PR (even if it's just work in progress), my Netlify accounts *might* create a deployment for you. I'm not sure if it would create a deployment from your fork.

[2019-12-09 15:00] divyanshu-rawat commented on #234
I think if you have `Netlify` setup for this repo. then it will also create a deployment for my PR, but for testing purpose I can check it without any `env` variable, once sentry works I can later on update the PR accordingly with `if` construct for `NODE_ENV`.

[2019-12-10 21:46] armenzg commented on #234
@divyanshu-rawat fixed this 🎉

[2019-12-10 21:46] #234 closed

[2019-12-10 21:54] divyanshu-rawat commented on #235
cool @armenzg I will read through what you have mentioned in the comment and then let you know. 🙌

[2019-12-11 13:32] renovate[bot] opened #261 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `.renovaterc`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting end of expression or separator near
    "auto`

[2019-12-12 12:51] divyanshu-rawat commented on #235
Here in the last line what do you mean? it is the same file you are referring to.

`If we could have src/dashboards/awfy.js and src/dashboards/awsy.js it would be great!`

[2019-12-12 12:57] divyanshu-rawat commented on #235
If we want to start both of them from the same branch let's say `master`, then I think I have to migrate the config files of both the projects to master.

what should I name the config file of master branch for `awsy branch` I can name it `awsy.js `, currently I plan to name master config as master.js.

Something like `src/config/awsy.js` and `src/config/master.js` what do you think?,

[2019-12-12 15:45] armenzg commented on #235
The names are very close, however, they're actually two differently named configs (to be created):

* Config from [master](https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/blob/master/src/config.js) --> `src/config/awfy.js`  (Notice the 'f' instead of an 's')
* Config from [awsy](https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/blob/awsy/src/config.js)

[2019-12-12 21:39] divyanshu-rawat commented on #235
Thanks @armenzg , I have a question I think `neutrinojs` plays a role here , do you think I have to read the api of `neutrinojs` to work on this issue, as `webpack.config.js` requires

`const neutrino = require('neutrino'); `

[2019-12-13 01:24] divyanshu-rawat commented on #235
@armenzg I spent much time on this and managed to find a solution for the same, but later one solution was not working for `awsy.js` and realised that structure of config object is different in different branches what I mean is if you search for term `dayRange` in the config of [master](https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/blob/master/src/config.js) and in the co

[2019-12-13 01:29] divyanshu-rawat commented on #235
One proposed solution is to add `dayRange: [1, 2, 7, 14, 30, 60, 90, 365],` in awsy as well.

[2019-12-13 13:37] armenzg commented on #235
Yes, that's a fine idea.
I will look at the PR on Monday since I'm off today. Thanks for your help!

[2019-12-13 14:21] divyanshu-rawat commented on #235
cool @armenzg 👍

[2019-12-16 13:45] #261 closed

[2019-12-17 18:34] jesup opened #272 "Time period slider has no effect"
Tried setting it long, short, setting it and then switching OS - no effect from the time period slider.

[2019-12-17 19:17] armenzg commented on #272
Thanks for reporting!
I will look at it as soon as I finish a prototype I'm working on.

[2019-12-17 22:26] divyanshu-rawat opened #273 "Warning in console."
App while running throws a warning in console.
I have attached the snapshot to have a clear idea of what warning is about 👨🏻‍💻.

<img width="990" alt="Screenshot 2019-12-17 at 23 25 25" src="https://user-images.githubusercontent.com/13464678/71039544-ad677800-2124-11ea-89db-ef60ae7aa35e.png">

[2019-12-17 22:30] divyanshu-rawat commented on #273
@armenzg should I resolve this?

[2019-12-18 15:02] armenzg commented on #273
Yes, please!

propTypes warnings are not super critical but it can sometimes show a bug unknown to the developer.

[2019-12-18 15:44] divyanshu-rawat commented on #273
@armenzg sure, but when I will remove the required , then it will ask for its default value what do you think should I place default value of `PerferhderGraph`?

[2019-12-18 18:15] armenzg commented on #273
I believe it is string. You can verify this by using the debugger and inspecting the value.

[2019-12-18 19:01] divyanshu-rawat commented on #273
Yes, it is a string, but is `undefined` in everywhere `Tp6 Microsoft`

[2019-12-18 19:08] divyanshu-rawat commented on #273
@armenzg feel free to review 👍

[2019-12-18 19:26] divyanshu-rawat commented on #273
In all cases here it was `undefined`.

[code]

[code]

So I think I should set default to `undefined`, will update the PR 👍

[2019-12-19 14:13] armenzg commented on #272
I cherry-picked a change from master that gets rid of the slider:
<img width="471" alt="image" src="https://user-images.githubusercontent.com/44410/71180268-cd3f8e80-223f-11ea-8b19-cfd27e65c8b6.png">

[2019-12-19 14:13] #272 closed

[2019-12-19 14:30] #273 closed

[2019-12-19 14:32] armenzg commented on #273
Congrats on your first code landing on this repo!
🎉

[2019-12-19 16:30] divyanshu-rawat commented on #273
@armenzg I think `sentry` addition was first 😅

[2019-12-19 17:22] armenzg commented on #273
That's over a week old! I can't remember that far 😝
Thanks again for both contributions!

[2020-01-06 17:28] #235 closed

[2020-01-06 17:40] armenzg commented on #235
We can now deploy both dashboard from the same code.
yay!
https://awsy.netlify.com/win10/overview?numDays=60

[2020-01-06 17:41] armenzg commented on #235
I added DASHBOARD=awsy as an env variable and I pointed to `master` as the branch.
For now, I will keep the old branch.

[2020-01-06 18:07] divyanshu-rawat commented on #235
@armenzg sounds good to me, do zou know why this contribution is not reflected in contributors graph here - https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/graphs/contributors

[2020-01-06 18:08] divyanshu-rawat commented on #117
@armenzg 👋 what this is about is it open to work on ?

[2020-01-06 18:30] armenzg commented on #235
Hi,
I see an email notification asking me if I can see the contribution.
Is this it?
<img width="346" alt="image" src="https://user-images.githubusercontent.com/44410/71839197-9e6f4800-3088-11ea-9759-d8836b37af65.png">

[2020-01-06 18:33] armenzg commented on #117
Hi!
I would honestly close this.

This is only noticeable when a new benchmark is added and there's less than 60 days worth of data (the default timerange).

If you load a full year you can notice it for some benchmarks. One of them starts from January while the other one starts from July (see screenshot).
<img width="86" alt="image" src="https://user-images.githubusercontent.com/44410/71839383-0c

[2020-01-06 18:39] divyanshu-rawat commented on #235
@armenzg I removed the comment thinking it doesn"t matter, but I was curious though that this contribution was not reflected at all, those 2 commits in the picture points to 2 different issues.

[2020-01-06 18:42] divyanshu-rawat commented on #117
@armenzg cool, so what is the proposed solution from youe end?

[2020-01-06 19:52] armenzg commented on #235
I have ammended the commit and force pushed it. You might need to force pull if you had already updated to `master`.
<img width="346" alt="image" src="https://user-images.githubusercontent.com/44410/71844426-18f19500-3094-11ea-91b7-017ffc56216f.png">

[2020-01-06 19:52] #117 closed

[2020-01-06 19:53] armenzg commented on #117
Closing the issue.

Issue #195 is the next available issue.

[2020-01-06 19:56] divyanshu-rawat commented on #235
Thanks @armenzg  :) I wiil create new fork then to avoid issues ;)

[2020-01-06 19:56] divyanshu-rawat commented on #195
@armenzg Could you please let me know what this issue is all about?

[2020-01-06 22:14] armenzg commented on #195
Do you remember the two config files you were handling it on the last PR?

Imagine a page that the user could add the benchmarks they want to see instead of a preset.

The benchmarks chosen would then be stored locally it in their `localStorage`. That way the next time they visit that page they will be able to see the benchmarks they care about.

[2020-01-16 09:47] divyanshu-rawat commented on #195
@armenzg yes I do, so you mean some if else condition that say load presets from local storage if there aren't any then go with default one, but how they will chose the benchmarks that they want to store, like any specific UI needs to be implemented for that?

[2020-01-16 14:03] armenzg commented on #195
You can use this page as inspiration:
https://treeherder.mozilla.org/perf.html#/graphs
<img width="872" alt="image" src="https://user-images.githubusercontent.com/44410/72531187-f6ebd580-383e-11ea-80d3-6edfe04a9a0d.png">

You can even copy the code from treeherder into the project if you like.

[2020-01-16 21:13] armenzg opened #277 "Testing"

[2020-01-16 21:13] armenzg commented on #277
@all-contributors add @armenzg for creating the project

[2020-01-17 12:44] divyanshu-rawat commented on #195
Thanks @armenzg  I will have a look 👍😅.

[2020-01-17 14:55] divyanshu-rawat commented on #195
@armenzg here https://treeherder.mozilla.org/perf.html#/graphs we have 2 buttons when to select the date and other is to select the test data, do you also plan have a dropdown for date as well or a button so that user can add the benchmarks.

[2020-01-20 21:18] armenzg commented on #195
Just the benchmarks. Thanks!

[2020-01-31 19:28] #277 closed

[2020-01-31 19:31] armenzg commented on #195
@divyanshu-rawat how is it going? Please let me know if you're still going to pursue this or if I should find another contributor. Have a good weekend.

[2020-02-04 09:43] divyanshu-rawat commented on #195
@armenzg I haven't started working on will work on it in upcoming week, I am occupied these days with my full time job & some personal stuffs. :) , I hope you understand. 👍

[2020-02-04 14:04] armenzg commented on #195
Of course! Thanks for updating me!

[2020-02-11 09:01] divyanshu-rawat commented on #195
@armenzg I will start working on it tomorrow , will ping you If I face any problems. 👍

[2020-03-30 12:59] davehunt opened #286 "Split Android platforms and compare browsers"
We currently graph the Android devices in https://arewefastyet.com/android/overview?numDays=60, which means we can't compare performance of Fenix/GVE/Fennec/Chrome. Let's split the Android platforms out, with **Pixel 2 (aarch64)** and **Moto G5 (arm7)**.

Within these, we should plot results for Firefox Preview (Fenix), GeckoView Example, Fennec, and Chrome wherever these results exist.

[2020-03-30 20:53] armenzg commented on #286
Are you asking for two pages?
Is the current page only showing Geckoview example results?
Why have Pixel 2 results ceased at the beginning of March?

Is this something Kimberley could tackle?

[2020-03-31 11:00] davehunt commented on #286
Yes, one for each device we actively test against.

Yes.

We stopped running against opt builds. The graphs should be updated to show the results for pgo builds. You can see these here: https://treeherder.mozilla.org/perf.html#/graphs?highlightAlerts=1&series=mozilla-central,1955269,1,10&series=mozilla-central,1955058,1,10&series=mozilla-central,1776166,1,10&series=mozilla-central,2008594,1,10&tim

[2020-04-03 07:14] airimovici commented on #286
This is something that should take 1 day, two days max

[2020-04-07 09:07] divyanshu-rawat commented on #195
@armenzg sorry I missed it, I had lot of other open source work to maintain, nevertheless I plan to complete this issue, so will work on it in easter holidays :)

[2020-04-09 15:25] davehunt opened #287 "Swtich to shippable platforms"
We've turned off a lot of tests that are running on platform configurations that we don't ship. This has resulted in data missing in the most recent weeks. We should switch to the shippable platform configurations wherever suitable.

[2020-04-09 16:38] davehunt opened #290 "Show page load metrics from Fenix"
We're currently only showing results from mozilla-central, but we'd like to plot page load results running against the fenix project. These suites will need to be kept separate from the existing page load results as they use a different tool (browsertime) to gather the metrics then we currently use (raptor-webext) for GeckoView and Fennec. Whilst we're migrating, we could name these as the existin

[2020-04-10 08:55] davehunt commented on #290
We'll probably also need to distinguish between applications, as with browsertime the application name is no longer embedded in the suite name. For example there will be one 'speedometer' test, but the application name will differ.

[2020-04-14 07:14] airimovici opened #292 "Show proper measurement unit for Perfherder data"
https://github.com/mozilla-frontend-infra/firefox-performance-dashboards/pull/291#discussion_r407360776

[2020-04-23 18:48] leeoniya opened #293 "uPlot line chart lib"
Hey @davehunt, @armenzg, @airimovici,

i'm a long-time firefox power user & bug reporter. i tracked AWFY on a daily basis during the tracemonkey rollout :)

AWFY renders *a lot* of charts, so i thought i'd contribute something back to improve the crappy perf related to slow charts.

take a look at https://github.com/leeoniya/uPlot and see if this is something that might interest you. would be happ

[2020-04-24 19:27] armenzg commented on #293
Hi @leeoniya
Thanks for bringing this up to our attention and thanks for your long-term support.

Thanks for your offer but I believe that switching the charting library at this mature state of the project could cause maintenance burden. At this moment we're only taking small tweaks and security updates.

If the project was in development state it would be a great time to make the change since I c

[2020-04-24 22:13] leeoniya commented on #293
sounds good, thanks for considering!

[2020-04-27 13:33] armenzg commented on #293
You're welcome! Best wishes!

@davehunt @airimovici I'm closing but feel free to speak up if you wish to.

[2020-04-27 13:33] #293 closed

[2020-05-07 19:24] yaakovfeldman opened #294 "Colourblind accessibility of charts"
Like about 5% of men I am somewhat red/green colourblind. I can just see the difference between Chromium and Firefox in the key but I can't distinguish the points. Can they be changed to something other than red/green?

[2020-05-19 11:11] airimovici opened #297 "Android PGO builds renamed to Android Shippable"
The performance dashboards need to be adapted to the new changes:
https://bugzilla.mozilla.org/show_bug.cgi?id=1623355

[2020-06-10 15:38] davehunt opened #299 "Switch Android page load tests to Browsertime"
The GeckoView page load tests are being migrated to Browsertime so we need to switch all tp6m graphs to show the new results. We don't need to preserve the Raptor results for this target. Let's narrow this to cold page load tests. Note that Browsertime tests do not expose the application in the test name, so we also need to be able to filter based on the application.

[2020-07-07 15:15] davehunt commented on #299
This was partially resolved in #301, however we're currently showing warm page loads. I'll raise a followup to switch these to cold page loads.

[2020-07-07 15:15] #299 closed

[2020-07-07 15:15] davehunt commented on #297
This was fixed in #301

[2020-07-07 15:15] #297 closed

[2020-07-07 15:16] davehunt commented on #286
Fixed in #289

[2020-07-07 15:16] #286 closed

[2020-07-07 15:17] davehunt commented on #290
Filtering based on application was landed in #301. The remaining work here is to plot results from the fenix repo.

[2020-07-09 09:09] airimovici opened #302 "No geckoview results for android shippable platform"
https://arewefastyet.com/androidPixel2/overview?numDays=60

`geckoview` results are not displayed when there are `fenix` results in charts:

![awfy-geckoview-not-showing-results](https://user-images.githubusercontent.com/51707553/87020775-03912b00-c1dd-11ea-9257-c1de6ad4d1c8.PNG)

[2020-07-22 06:47] airimovici opened #305 "No data because of faulty signature call"
After [a change](https://github.com/mozilla/treeherder/pull/6629) in the response for the signatures endpoint, the dashboards can't get the data properly.

[2020-08-24 07:09] #305 closed

[2020-10-15 10:25] davehunt opened #316 "Do not show results for retriggers"
With #315 we'll see results for the original results and retriggers (when a sheriff is investigating an alert). Ideally we would only see the original results, and any backfills, but not the retriggers.

[2020-10-20 16:29] davehunt commented on #302
This no longer appears to be an issue.

[2020-10-20 16:29] #302 closed

[2020-10-20 16:42] davehunt opened #318 "Show results for WebRender"
We have performance results from WebRender that are not being displayed. To resolve this we should either add WebRender variants for each platform, or display WebRender results within the existing platforms as an additional data series. The latter may be preferred as it allows for comparison with/without WebRender enabled.

WebRender platforms are the same as the shippable platforms but with the '

[2020-10-20 16:46] davehunt commented on #318
Example Perfherder graph showing ares6 results for with/without WebRender enabled: https://treeherder.mozilla.org/perf.html#/graphs?highlightAlerts=1&series=autoland,2095713,1,10&series=autoland,2526260,1,10&timerange=5184000

[2020-10-20 16:48] davehunt opened #319 "Show results for Fission"
We have performance results from Fission that are not being displayed. To resolve this we should display Fission results as an additional data series where results are available. Fission is only running on the WebRender platforms, so this issue depends on #318. Note that tests with Fission enabled are currently only running on mozilla-central.

[2020-10-20 16:50] davehunt commented on #319
Example Perfherder graph showing ares6 results for default/WebRender/Fission: https://treeherder.mozilla.org/perf.html#/graphs?highlightAlerts=1&series=autoland,2095713,1,10&series=autoland,2526260,1,10&series=mozilla-central,2536453,1,10&timerange=5184000

[2020-10-20 17:06] davehunt opened #320 "Show results from Talos"
We should display the following results from Talos for all platforms (where available):
* [tp5o](https://treeherder.mozilla.org/perf.html#/graphs?highlightAlerts=1&series=autoland,1926742,1,1&timerange=2592000)
* [sessionrestore](https://treeherder.mozilla.org/perf.html#/graphs?highlightAlerts=1&series=mozilla-central,1937828,1,1&timerange=2592000)
* [sessionrestore_no_auto_restore](https://treehe

[2020-10-20 17:13] davehunt opened #321 "Group results by suite/category"
There are many results displayed, and the overview and benchmark dropdown are difficult to manage. By grouping results we can provide an overview for each, and make the list of tests more managable. I propose the following groups:

* Benchmarks (Speedometer, Kraken, MotionMark, etc)
* Page load (TP6)
* Other (Talos) (see #320)

We could potentially use this to fold AWSY into AWFY by adding a "Memo

[2020-10-20 17:14] davehunt commented on #320
We may want to block on #321.

[2020-10-20 17:15] davehunt commented on #321
This would also allow us to add a "Network" category for the http2/http3 comparisons.

[2020-10-20 17:21] davehunt opened #322 "Show visual page load results"
We should display visual page load results wherever we have them.

Example of ContentfulSpeedIndex visual metric: https://treeherder.mozilla.org/perf.html#/graphs?highlightAlerts=1&series=autoland,2474730,1,13&timerange=5184000

See also https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/704

[2020-10-23 12:01] davehunt commented on #321
I think this should block #322 as there are several tests related to visual metrics. These could be grouped as:
* Cold Page Load (ContentfulSpeedIndex)
* Cold Page Load (SpeedIndex)
* Cold Page Load (PerceptualSpeedIndex)
* Warm Page Load (ContentfulSpeedIndex)
* Warm Page Load (SpeedIndex)
* Warm Page Load (PerceptualSpeedIndex)

[2020-10-27 10:19] davehunt commented on #318
This was fixed by #329

[2020-10-27 10:19] #318 closed

[2020-10-27 10:19] davehunt commented on #319
This was fixed by #329

[2020-10-27 10:19] #319 closed

[2020-10-27 10:20] davehunt commented on #322
WIP #328

[2020-10-28 09:52] alexandru83 opened #333 "extra-options array in benchmarks configuration - order of items should not be relevant"
Currently, usage of Loadash isEqual function for filtering signatures based on extra_options property requires the two arrays passed to have the same items, in the same order in order to return true.

[2020-10-29 08:00] alexandru83 opened #334 "excessive number of API calls, including duplicates"
The API calls are being cached, when CacheStorage is available. Though, when the cached data expired, or when there is no data in cache at all, an excessive number of API calls is being performed, including duplicates. A mechanism is needed to optimize this, at least by removing the duplicated requests.

[2020-10-29 12:45] davehunt commented on #321
Fixed in #332

[2020-10-29 12:45] #321 closed

[2020-10-29 17:49] nbp opened #336 "AWFY is slow to load"
(Forwarding [Bug 1673296](https://bugzilla.mozilla.org/show_bug.cgi?id=1673296))

1. Use my normal profile
2. Go to https://arewefastyet.com/win10/stylebench?numDays=60
3. The page takes a long time to load, and one core is continuously pegged for almost 1 minute.
4. Let the page settle.
5. Click on the arrow on the first graph.

ER: Fast load
AR: Multi minute page load

Profile : https://share.fi

[2020-10-30 15:16] dzrw opened #338 "Include a performance dashboard for energy intensive pages"
When loading https://www.factorio.com/blog/post/fff-362 in Firefox on MacOS, the energy impact score spikes to 100% and the fan speeds up.  I'm certain that other pages around the net also trigger such pathological cases, so it would be helpful if there were a good way to raise the visibility of these issues.

[2020-10-31 09:45] davehunt opened #340 "Show URL used for page loads"
We should show the URL used for our page load tests. I don't think Perfherder has this data, so we might need to do some additional work in the harness/Perfherder to include this metadata.

[2020-10-31 09:48] davehunt opened #341 "Add page descriptions"
We should add the ability to provide a description for each category/results page. This can explain the metrics that are displayed and other useful information. For example, when we display live page load metrics we can note that they are unstable by nature and not actively monitored for regressions or failure.

[2020-11-03 14:49] davehunt commented on #338
Hey @dzrw, thank you for opening this issue. The results displayed on this dashboard are from the performance tests we run in continuous integration, so the first step to introducing visualisations of that kind would be to introduce new tests. We have some experience with measuring resources such as cpu, memory, and power in our test harnesses, but most of this has focused on mobile and only for a

[2020-11-03 14:49] #338 closed

[2020-11-06 14:14] #334 closed

[2020-11-20 13:28] #333 closed

[2020-12-08 10:09] airimovici opened #349 "Results dropdown should show only available data"
The results dropdown is now showing a predefined list of items. It should show only results that are available

[2020-12-08 10:13] airimovici commented on #349
assigned to https://github.com/beatrice-acasandrei

[2020-12-09 18:28] davehunt opened #350 "Results with conditioned profiles disabled are not shown"
Conditioned profiles have been disabled, causing a change to the test signatures. Since this change all affected results (I believe it's just browsertime) have been missing from the dashboard.

[2020-12-09 18:32] davehunt commented on #350
As this is affecting vismet and Fission I have pushed a fix to https://github.com/mozilla-frontend-infra/firefox-performance-dashboards/commit/c76a5bf2df42fcafd6f8681a5dcae728a7884853 but we'll need a more permanent solution.

[2020-12-16 08:23] airimovici commented on #350
I created a PR (https://github.com/mozilla-frontend-infra/firefox-performance-dashboards/pull/352) for adding the ability to ignore certain `extraOptions`.

The problem is that awfy does not support combining results from multiple signatures yet. (https://github.com/mozilla-frontend-infra/firefox-performance-dashboards/blob/master/src/utils/perfherder.js#L163)

[2020-12-17 11:34] airimovici opened #356 "Add a global page series control"
There should be a way (like having a dropdown with checkboxes for the series on that page: like firefox, fenix, chrome, etc.) to be able to have results from a browser filtered out or not on all the graphs on a page.

Ideally it would be dynamic based on the series available in the page. If that's difficult, then it could be a static list for desktop/mobile

[2021-01-18 13:55] #350 closed

[2021-01-18 13:58] ionutgoldan commented on #316
@davehunt I believe this issue can be closed.

[2021-01-20 11:05] davehunt commented on #316
Yes, thanks @ionutgoldan

[2021-01-20 11:05] #316 closed

[2021-02-19 10:27] #356 closed

[2021-02-19 10:28] airimovici commented on #349
Solved by https://github.com/mozilla-frontend-infra/firefox-performance-dashboards/pull/367

[2021-02-19 10:28] #349 closed

[2021-02-19 10:29] #341 closed

[2021-02-19 14:40] #322 closed

[2021-03-10 14:02] #320 closed

[2021-03-11 10:36] airimovici opened #386 "Speedometer chart gets displayed on other pages"
There is an issue that mainly the `Speedometer` chart is being carried over to other pages when we change the values from dropdowns.
If the page is refreshed, it doesn't appear anymore.

[2021-03-11 10:38] davehunt opened #387 "Show full date range instead of limiting to available data"
We currently set the x-axis based on the data available within the bounds of the selected date range. This means that it's not immediately obvious when we don't have recent results. It also means that where data is not available for some results over the full date range, it's difficult to see patterns between them. Let's fix this by showing the full date range in the axis.

[2021-03-12 22:22] davehunt commented on #387
Fixed via #388

[2021-03-12 22:22] #387 closed

[2021-03-12 22:22] davehunt commented on #290
This was done a while ago now. Fenix results are shown.

[2021-03-12 22:23] #290 closed

[2021-04-22 01:45] cpeterso opened #410 "Remove obsolete test sites from AWFY dashboards: Apple, Google Sheets, Yahoo News, Yandex"
The graphs for the following test sites can be removed from the AWFY dashboards (Cold Page Load Recorded/Live, Warm Page Load Recorded/Live, Memory, Network for Windows, Linux, Mac, and Android Moto G5 and Pixel 2) because we stopped testing these sites on 2021-04-07. We don't care about showing the few days of old data for these sites.

* Apple
* Google Sheets
* Yahoo News
* Yandex

https://arewe

[2021-04-26 12:14] davehunt commented on #410
Note that these would eventually disappear once the signatures have been cleaned up by Perfherder, but I've opened a pull request to remove them earlier.

[2021-05-17 11:50] #410 closed

[2021-05-17 17:23] cpeterso commented on #410
Thanks, @airimovici!

Verified fixed: I see that the old sites have been removed from the AWFY dashboards, as expected: https://arewefastyet.com/linux64/cold-page-load/overview?numDays=30.

[2021-08-18 04:11] HenkPoley opened #433 "AWSY 'Windows 10 64bit' not running since August 1st 2021?"
https://awsy.netlify.app/win10/memory/overview?numDays=60

Probably also means nobody is looking at them 😅

[2021-08-25 11:25] Archaeopteryx commented on #433
The [migration of AWSY to Azure](https://bugzilla.mozilla.org/show_bug.cgi?id=1715832) broke this. @jmaher @MasterWayZ Can you take a look if https://github.com/mozilla-frontend-infra/firefox-performance-dashboards/blob/02c1870c8244adf3e29989c3c5c09b19ca1b067a/src/awsy.js#L114 needs update with the `2004` added to the platform name?

[2021-08-31 16:22] janodvarko opened #435 "Clicking AWFY's "Series" drop-down list sometimes auto-selects a menu item instead of opening the drop-down list"
This is cloned from Bugzilla report: https://bugzilla.mozilla.org/show_bug.cgi?id=1726852

### Steps to reproduce

I am testing on Windows 11 Beta.

1. Load https://arewefastyet.com/linux64/cold-page-load/overview?numDays=1
2. Wait for the graphs to load the test results for Firefox, Firefox-Fission, Chrome, and Chromium.
3. Click the "Series" button to open the drop-down list.
4. Click the "Firef

[2021-08-31 16:23] davehunt commented on #433
It looks like with `2004` in the platform name we have data from July 31 to August 19. After that, only Fission data is available. See https://treeherder.mozilla.org/perfherder/graphs?highlightAlerts=1&highlightChangelogData=1&series=autoland,1959131,1,4&series=autoland,1959123,1,4&series=autoland,3773866,1,4&series=autoland,3806455,1,4&timerange=5184000

[2021-08-31 16:25] davehunt commented on #433
We monitor these results and open regressions using Perfherder. It's quite possible that nobody is looking at AWFY, but this doesn't mean we've taken our eye off the results.

[2021-09-03 15:38] davehunt commented on #435
@airimovici could you or someone from the team look into this?

[2021-09-03 17:22] jmaher commented on #433
regarding windows 10 x64 (from looking at mozilla-central)-

July 31st - We switched to a new version of windows (v.1803 -> v.2004):
https://hg.mozilla.org/mozilla-central/rev/ef5b594ec1af0ac78cefebf80130addb08019a6f

August 2nd - We stopped running the 'sy' tp5 test:
https://hg.mozilla.org/mozilla-central/rev/6894193a38f13821498470bb3d83efb8de5c52ba

August 6th - We ran 'ab' in fission (now all t

[2021-09-06 14:15] davehunt commented on #433
I've opened #440, which adds '2004' to the platform names on Windows, defaults to WebRender, and removes tp5 results. Looking at the [deploy preview](https://deploy-preview-440--firefox-performance-dashboard.netlify.app/win10/memory/overview?numDays=60) the only remaining discrepency is the base tests show no non-Fission results on autoland (these are now only running on mozilla-central). @jmaher

[2021-09-06 15:34] jmaher commented on #433
we would need to follow up in the original bug that changed the behavior (https://bugzilla.mozilla.org/show_bug.cgi?id=1714585), I don't see any reason not to do this from a capacity point of view.

[2021-09-06 17:16] davehunt commented on #433
I've opened https://bugzilla.mozilla.org/show_bug.cgi?id=1729338.

[2021-10-22 11:56] davehunt opened #445 "Show results for mozilla-beta"
Allow users to switch to mozilla-beta as a source of test results. This could be a "Project" picker that defaults to "Nightly", which then uses autoland/mozilla-central depending on the test. Switching to "Beta" would then use "mozilla-beta" unless there's a specific override (for example, Chrome results are only on mozilla-central).

[2022-01-28 12:51] davehunt commented on #433
I believe this is resolved.

[2022-01-28 12:51] #433 closed

[2022-02-08 10:27] airimovici opened #455 "Some subtests fail to load"
Some subtests requests fail to load with the message:
`Access to fetch at 'https://treeherder.mozilla.org/api/project/mozilla-central/performance/data/?framework=13&interval=5184000&no_retriggers=true&signature_id=4162401&signature_id=4162412&signature_id=4162413&signature_id=4162414&signature_id=4162415' from origin 'https://arewefastyet.com' has been blocked by CORS policy: No 'Access-Control-Al

[2022-11-29 11:52] jandem opened #480 "Incorrectly combining data for chrome/chromium for certain subtests"
This can be seen on these pages, for example:
https://arewefastyet.com/win10/benchmarks/raptor-desktop-jetstream2?numDays=60
https://arewefastyet.com/win10/benchmarks/raptor-desktop-speedometer?numDays=60

The first graph (total benchmark score) is okay and has separate data points for chrome and chromium. For the sub tests, we get a single data point for both. It looks like the data is incorrectl

[2022-11-30 13:11] davehunt commented on #480
@beatrice-acasandrei is going to look into this when she's back from PTO next week.